

#gardenBackground {
  position:absolute;
  top:0px;
  left:0px;
  height:430px;
  width:1126px;
  z-index:-1;
  pointer-events: none;
  background:url('../assets/garden/garden_background_1.jpg');
  /* background:url('../assets/garden/garden_background_Winter_2018.jpg'); */

  background-color:silver;
}
#gardenInfoBox {
  position:absolute;
  z-index: 10000;
  /* width:200px; */
  left:-300px;
  height:auto;
  color:white;
  font-size:.8em;
  background-color:rgba(000, 000, 000, .7);
  border-radius: 10px;
  padding:5px;
}

.plot_wrapper {
  position:absolute;
   height:430px;
   width:200px;
   overflow:visible;
   /* border:1px solid blue; */
}
.plot_container {
  position:absolute;
  left:0px;
  top:0px;
  height:400px;
  width:200px;
  /* border:1px solid lightgreen; */
}

.plot_info_panel {
  position:absolute;
  z-index:9999;
  text-align:left;
  left:0px;
  top:430px;
  height:200px;
  width:190px;
  padding:5px;
  color:black;
  font-size:.9em;
  background-color:rgba(255,255,255,.8);
  border-radius:8px;
}

.water_display {
  position:absolute;
  top:400px;
  width:200px;
  height:26px;
  z-index:10000;
  border-radius: 4px;

  font-size:1em;
  color:blue;
  /* background-color:rgba(150, 255, 150, .2); */

  border:1px solid lightblue;
}

.water_track {
  position:absolute;
  width:100%;
  height:100%;
  border-radius:4px;
  border:1px solid lightblue;
  user-select:none;
  cursor:pointer;
}


.info_button:hover {
  background-color:rgba(000,255,000, .4);
}

.harvest_button {
  position:relative;
  height:30px;
  z-index:10000;
  border-radius: 4px;

  font-size:.7em;
  color:#555555;
  background-color:rgba(150, 255, 150, .2);

  border:1px solid lightgreen;
}
.harvest_button:hover {
  background-color:rgba(000,255,000, .4);
}

.resuscitate_button {
  height:30px;
  z-index:10000;
  border-radius: 4px;

  font-size:.8em;
  color:#555555;
  background-color:rgba(255,215,0, .2);

  border:1px solid gold;
}
.resuscitate_button:hover {
  background-color:rgba(255,215,0,.5);
}

.mulch_button {
  height:30px;
  z-index:20000;
  border-radius: 4px;

  font-size:.8em;
  color:#555555;
  background-color:rgba(160,82,45, .2);

  border:1px solid sienna;
}
.mulch_button:hover {
  background-color:rgba(160,82,45, .5);
}

.harvest_wither_button {
  height:30px;
  z-index:20000;
  border-radius: 4px;
  margin-top:4px;

  font-size:.8em;
  color:rgb(240,230,140);
  background-color:rgba(160,82,45, .5);

  border:1px solid sienna;
}
.harvest_wither_button:hover {
  background-color:rgba(160,82,45, .7);
}

.plant_button {
  height:100px;
  width:100px;
  font-size:2em;
  border:2px solid rgb(154, 205, 50);
  border-radius:4px;
  background-color:rgba(154, 205, 50, .5);
  color:green;
}
.plant_button:hover {
  color:white;
}

.countdown_div {
  font-size:.8em;
  font-weight:bold;
  width:100%;
  user-select: none;
  top:20px;
}


.seed_icon {
  height:25px;
  width:25px;
}
.mod_text {
  font-weight:bold;
  color:rgb(154, 205, 50);
}

#plantingPanel {
  position:fixed;
  visibility:hidden;
  z-index:20001;
  padding:5px;
  background-color:rgba(0,40,0, .9);
  color:white;
  border-radius:10px;
  height:350px;
  width:620px;
  display: inline-block;
  clear:both;
  float:left;
  text-align:center;
  box-shadow: 8px 8px 10px #888888;
}
#plantingPanel header {
  font-size:1.2em;
  font-weight:bold;
}
.dropContainer {
  display:inline-block;
  margin-right:2px;
  margin-left:2px;
  height:54px;
  width:54px;
  border:1px solid lightgreen;
  user-select:none;
}

.seedContainer {
  position:relative;
  width:90%;
  margin-left:5%;
  height:140px;
  overflow-x:hidden;
  text-align:left;

  border-radius:4px;
  border:2px groove lightgreen;
}

#seedTrack {
  position:absolute;
  height:50px;
  top:10px;
  display:inline-block;
  width:auto;
  /* border:1px solid white; */
}

.seedIcon {
  position:relative;
  margin-right:2px;
  margin-left:2px;
  height:50px;
  width:50px;
}

#plantButtonDiv {
  position:absolute;
  top:335px;
  width:100%;
  text-align:center;
}
#plantButton {
  background-color:lightgreen;
  border:1px solid green;
  border-radius:5px;
  color:green;
  width:100px;
  font-size:1.2em;
}
#plantButton:hover {
  color:white;
}
#clearButton {
  background-color:silver;
  border:1px solid gray;
  border-radius:5px;
  color:gray;
  width:100px;
  font-size:1.2em;
}
#clearButton:hover {
  color:black;
}


#gardenSettingsDiv {
  position:absolute;
  height:70px;
  width:70px;
  top:0px;
  text-align:left;
  overflow:hidden;
  z-index:50000;
  background-color:rgba(154,205,50,0);
  border-radius:4px;
  user-select: none;
  cursor:pointer;
  /* border:1px solid white; */
}
#gSettingsImg {
  height:70px;
  width:70px;
  float:left;
}
#gBackButton {
  position:absolute;
  height:58px;
  width:65px;
  top:4px;
  left:4px;
  cursor:pointer;
  background:url('../assets/garden/garden_back_arrow.png') no-repeat;
}



.color_rarity_0 { color:rgb(111, 111, 111); }  /*common*/
.color_rarity_1 { color:rgb(154, 205, 50); }  /*uncommon*/
.color_rarity_2 { color:rgb(100,149,237); }  /*rare*/
.color_rarity_3 { color:rgb(138,43,226); }  /*epic*/
.color_rarity_4 { color:rgb(255,215,0); }  /*legendary*/

.border_rarity_0 { border:2px solid rgb(111, 111, 111); border-radius:4px; background-color:rgba(111, 111, 111, .5) }  /*common*/
.border_rarity_1 { border:2px solid rgb(154, 205, 50); border-radius:4px; background-color:rgba(154, 205, 50, .5) }  /*uncommon*/
.border_rarity_2 { border:2px solid rgb(100, 149, 237); border-radius:4px; background-color:rgba(100,149,237, .5) }   /*rare*/
.border_rarity_3 { border:2px solid rgb(138, 43, 226); border-radius:4px; background-color:rgba(138,43,226, .5) }   /*epic*/
.border_rarity_4 { border:2px solid rgb(255, 215, 0); border-radius:4px; background-color:rgba(255,215,0, .5) }   /*legendary*/





.close_button {
  position:absolute;
  top:5px;
  left: 100%;
    -webkit-transform: translateX(calc(-100% - 5px));
    -ms-transform: translateX(calc(-100% - 5px));
    transform: translateX(calc(-100% - 5px));
  border-radius: 5px;
  border-color:#333333;
  background-color:#aa0000;
  font-weight: bold;
  color:white;
}
.close_button:hover {
  background-color:#ff0000;
}

#pageMask {
  position:fixed;
  display:none;
  z-index:20000;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  background-color: #cccccc;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}



.action_wheel {
  position:relative;
  top:100px;
  visibility:collapse;
  display:inline-grid;
  grid-auto-flow: column;
  grid-column-gap:15px;
  z-index:10000;
  padding:5px;
  border-radius:5px;
  background-color:rgba(666,666,666,.5); /*because popups are evil...*/
  border:1px solid white;
}
.action_wheel button {
  height:50px;
  width:50px;
}



#helpDiv {
  position:relative;
  float:left;
  padding:4px;
  border-radius:8px;
  color:black;
  user-select:none;
  text-align:left;
  overflow:hidden;

  height:28px;
  width:350px;
}
#helpSpan {
  position:relative;
  font-weight:bold;
  cursor:pointer;
  border:1px solid lightgreen;
  border-radius:8px;
  padding:4px;
  background-color:rgba(154, 205, 50, .8);
  text-align:center;
}
