.page_mask {
  position:fixed;
  z-index:10000;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  background-color: #cccccc;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
.rules_pane {
  position:fixed;
  z-index:10001;
  padding:5px;
  background-color:rgba(255, 255, 255, .9);;
  border-radius:10px;
  height:auto;
  width:600px;
  display: inline-block;
  clear:both;
  float:left;
  box-shadow: 8px 8px 10px #888888;
}
.close_button {
  position:absolute;
  top:5px;
  left: 100%;
    -webkit-transform: translateX(calc(-100% - 5px));
    -ms-transform: translateX(calc(-100% - 5px));
    transform: translateX(calc(-100% - 5px));
  border-radius: 5px;
  background-color:red;
  font-weight: bold;
  color:white;
}
